@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post" asp-controller="Home" asp-action="Contact">

    <input type:"text" class="form-control" name="name" placeholder="name"/>
    <input type:"text" class="form-control" name="number" placeholder="Numer"/>
    <input type:"text" class="form-control" name="email"  placeholder="email"/>
    <input type:"text" class="form-control" name="phone"  placeholder="phone"/>

    <button class="btn btn-success" type="submit">Zapisz</button>
    
</form>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
